--requirement "https://raw.githubusercontent.com/ministryofjustice/modernisation-platform-environments/refs/heads/main/terraform/environments/analytical-platform-compute/airflow/src/airflow/requirements.txt"
autopep8
black
cerberus
flake8
isort
jinja2
mypy
pylint
pyyaml
zizmor
deepdiff
pygithub
boto3
