--requirement "https://raw.githubusercontent.com/ministryofjustice/modernisation-platform-environments/7663e0a66cf7c16222e8b888766d3149d75298c5/terraform/environments/analytical-platform-compute/src/airflow/requirements.txt"
autopep8==2.3.2
black==24.10.0
cerberus==1.3.7
flake8==7.1.1
isort==5.13.2
mypy==1.9.0
pylint==2.3.0
jinja2==3.1.4
pyyaml==6.0.2
